@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Starjedi';
    src: url('../../assets/fonts/Starjedi.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'DistantGalaxy';
    src: url('../../assets/fonts/SfDistantGalaxyAltoutline-e2Bp.ttf');
    font-style: normal;
}